<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1022658560012-kavon2ihej6qpl29iupa47ntig2hnqqp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1022658560012-kavon2ihej6qpl29iupa47ntig2hnqqp</string>
	<key>API_KEY</key>
	<string>AIzaSyDSwtabQ_iH989-AwtvF2GyQnu0YW7avWk</string>
	<key>GCM_SENDER_ID</key>
	<string>1022658560012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.valentinperello.todolist</string>
	<key>PROJECT_ID</key>
	<string>todolist-ios-f8e01</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-ios-f8e01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022658560012:ios:7177d53e6819820122ee29</string>
</dict>
</plist>